<h1>Student List</h1>

<% @students.each do |student| %>
  <h3>Name: <%= student.name %></h3>
  <p>Age: <%= student.age %></p>
  <p>House: <%= student.house %></p>
<% end %>

<h2>Average Age: <%= @students.average_age %> </h2>
